body {
    background-color : #eeeeee;
	font-family: 'Open Sans', sans-serif;
}

#timer {
    position: absolute;
    right: 0px;
    top: 65px;
	font-size: 25px;
}

#errorMessage{
	color: red;
	clear: left;
	font-size: 28px;
}

.img{
	width: 100px;
	height: 100px;
	position: relative;
	background-repeat: no-repeat;
}

.innerBorder{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 3px solid black;
}