body {
    background-color : #eeeeee;
}

#mainBox {
    display: block;
}

#timer {
    position: fixed;
    right: 0px;
    top: 0px;
}

.img{
	width: 100px;
	height: 100px;
	position: relative;
	background-repeat: no-repeat;
}

.innerBorder{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 3px solid black;
}